<template>
  <div class="card">
    <img class="card-img-top" :src="album.images[0].url" />
    <div class="card-body">
      <h4 class="card-title">
        <router-link :to="{ name: 'Album', params: { album_id: album.id } }">{{
          album.name
        }}</router-link>
      </h4>
      <!-- <h4 class="card-title">{{album.name}}</h4> -->
      <!-- <p class="card-text">Text</p> -->
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: ["album"],
});
</script>

<style scoped>
</style>