<template>
  <div class="mb-4">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        v-model="queryDraft"
        @keyup.enter="search"
      />
      <!-- v-model only works with Data, not with props -->

      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" @click="search">
          Search
        </button>
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: ["query"],
  data() {
    return {
      queryDraft: "",
    };
  },
  watch: {
    query: {
      immediate: true,
      handler(query, oldQuery) {
        this.queryDraft = query;
      },
    },
  },
  methods: {
    search() {
      this.$emit("search", this.queryDraft);
    },
  },
});
</script>

<style scoped>
</style>