<template>
  <div>
    <!-- {{results[0].name}} -->
    
    <div class="row row-cols-1 row-cols-sm-4 g-0">
      <div class="col" v-for="result in results" :key="result.id">
        <album-card :album="result" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import AlbumCard from "./AlbumCard.vue";

export default Vue.extend({
  components: { AlbumCard },
  props:['results']
});
</script>

<style scoped>
</style>