<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Hello vuejs</h1>
      
        <div id="userProfile"></div>
      
        <div id="app">
          <p v-on:click="zmienMessage(1)">{{ message }}</p>
          <User-Card v-for="u in users" v-bind:user="u"></User-Card>
        </div>

      </div>
    </div>
  </div>


  <script src="https://unpkg.com/vue"></script>
  <script>
    var UserCard = Vue.extend({
      props:['user'],
      template: `<div class="card">
        <strong>{{user.name}}</strong>
        <button v-on:click="addToList" class="btn btn-xs">Add to list</button>
      </div>`,
      // data() {
        // return { user: { name: 'Test' } }
      // },
      methods: { addToList() { console.log('Add to list'); } }
    })
    // var user = new UserCard({ el: '#userProfile' })


    var app = new Vue({
      el: '#app',
      components: { UserCard: UserCard },
      data: {
        message: 'Hello Vue!',
        users: [
          {name:'Alice'},
          {name:'Bob'},
          {name:'Kate'},
        ]
      },
      methods: {
        zmienMessage(param) {
          // console.log('CLicked');
          this.message = 'Clicked! ' + (new Date()).toLocaleTimeString()
        }
      }
    })
  </script>

</body>

</html>