<template>
  <div>
    <!-- .row*2>.col -->
    <div class="row">
      <div class="col">
        <search-form :query="query" @search="search" class="card" data-testid="form" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- {{ message }} -->
        <search-results :results="albums" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import SearchForm from "@/components/music/SearchForm.vue";
import SearchResults from "@/components/music/SearchResults.vue";
import { getToken, logIn } from "@/services/AuthService";
import Vue from "vue";
import { Album, isAlbumsSearchResponse, SimpleAlbum } from "../model/Albums";

const mockAlbums: SimpleAlbum[] = [
  {
    id: "123",
    name: "Album 123",
    images: [{ url: "https://www.placecage.com/c/300/300" }],
  },
  {
    id: "234",
    name: "Album 234",
    images: [{ url: "https://www.placecage.com/c/400/400" }],
  },
  {
    id: "345",
    name: "Album 345",
    images: [{ url: "https://www.placecage.com/c/600/600" }],
  },
  {
    id: "456",
    name: "Album 456",
    images: [{ url: "https://www.placecage.com/c/500/500" }],
  },
];

export default Vue.extend({
  components: { SearchForm, SearchResults },
  data() {
    return {
      albums: [] as Album[],
      message: "",
      query: "",
    };
  },
  // watch: {
  //   "$route.query.q": {
  //     immediate: true,
  //     handler(query) {
  //       const q = String(this.$route.query["q"] || "");
  //       this.query = q;
  //       q && this.fetchSearchResults();
  //     },
  //   },
  // },
  created() {
    // const q = String(this.$route.query["q"] || "");
    // q && this.search(q);
  },
  // https://router.vuejs.org/guide/advanced/navigation-guards.html#in-component-guards
  beforeRouteEnter(to, from, next) {
    // this === undefined
    // next()
    next((component: any) => {
      const q = String(to.query["q"] || "");
      component.query = q;
      q && component.fetchSearchResults();
    });
  },
  beforeRouteUpdate(this: any, to, from, next) {
    const q = String(to.query["q"] || "");
    this.query = q;
    q && this.fetchSearchResults();
    next();
  },
  beforeRouteLeave(to, from, next) {
    // this.isFormDataSavedAndICanSafelyLeave()...
    next();
  },
  http: {
    root: "https://api.spotify.com/v1/",
  },
  notifications: {
    showError: {
      title: "Error",
      message: " ",
      type: "error",
    },
  },
  methods: {
    search(query: string) {
      this.$router.push({ name: "Search", params: {}, query: { q: query } });
    },
    fetchSearchResults() {
      this.$http
        .get("search", {
          params: { type: "album", q: this.query },
        })
        .then(
          (resp) => {
            if (isAlbumsSearchResponse(resp.data)) {
              this.albums = resp.data.albums.items;
            } else {
              throw new Error("Invalid server response");
            }
          },
          (error) => {
            this.message = error.body?.error?.message || error.message;
            if (error.status == 401) {
              logIn();
            }
            this.showError({
              message: this.message,
            });
          }
        );
    },
  },
});
</script>

<style scoped>
</style>