<template>
  <!-- .row>.col*2 -->
  <div class="row">
    <div class="col">
      <PlaylistListVue
        :playlists="items"
        :selectedId="selectedId"
        @select="selectPlaylist($event)"
        @remove="removePlaylist($event)"
      />

      {{ $store.state.counter }}
      <button @click="$store.commit('increment')">+</button>

      <div class="mt-4" @click="publicCount = 0">Public playlists: {{ publicCount }}</div>

      <button class="btn btn-info float-end mt-2" @click="mode = 'create'">
        Create New Playlist
      </button>
    </div>
    <div class="col">
      <div v-if="selectedPlaylist && mode == 'details'">
        <PlaylistDetailsVue :playlist="selectedPlaylist" @edit="edit($event)" />
      </div>
      <div v-else-if="selectedPlaylist && mode == 'edit'">
        <PlaylistFormVue
          :playlist="selectedPlaylist"
          @cancel="cancel"
          @save="updatePlaylist"
        />
      </div>
      <div v-else-if="mode == 'create'">
        <PlaylistFormVue @cancel="cancel" @save="addPlaylist" />
      </div>
      <p v-else>Please select playlist</p>
    </div>
  </div>
</template>

// vbase-ts-class
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PlaylistDetailsVue from "@/components/PlaylistDetails.vue";
import PlaylistFormVue from "@/components/PlaylistForm.vue";
import PlaylistListVue from "@/components/PlaylistList.vue";

import { Playlist } from "../model/Playlist";

@Component({
  components: { PlaylistDetailsVue, PlaylistFormVue, PlaylistListVue },
})
export default class PlaylistsView extends Vue {
  // Data
  mode: "details" | "edit" | "create" = "details";
  selectedId: string | null = "123";
  items: Playlist[] = [
    {
      id: "123",
      name: "Playlist Parent 123",
      public: false,
      description: "My playlist",
    },
    {
      id: "234",
      name: "Playlist 234",
      public: true,
      description: "My playlist !!",
    },
    {
      id: "345",
      name: "Playlist 345",
      public: false,
      description: "My playlist",
    },
  ];
  // Computed
  get publicCount() {
    return this.items.filter((p) => p.public).length;
  }

  get selectedPlaylist() {
    return this.items.find((p) => p.id === this.selectedId);
  }

  set selectedPlaylist(p: Playlist | undefined) {
    this.selectedId = "";
  }

  // Lifecycle
  created() {
  }

  // Methods
  selectPlaylist(id: string) {
    if (this.selectedId === id) {
      this.selectedPlaylist = undefined;
    } else {
      this.selectedId = id;
    }
  }

  updatePlaylist(draft: Playlist) {
    this.items = this.items.map((p) => (p.id == draft.id ? draft : p));
    this.mode = "details";
  }

  addPlaylist(data: Playlist) {
    data.id = Date.now().toString() + Math.ceil(Math.random() * 10_000);
    this.items.push(data);
    this.selectedId = data.id;
    this.mode = "details";
  }

  removePlaylist(id: string) {
    this.items = this.items.filter((p) => p.id !== id);
    // this.selectedId = null;
  }

  edit() {
    this.mode = "edit";
  }

  cancel() {
    this.mode = "details";
  }
}
</script>

<style scoped>
</style>