<template>
  <button
    class="btn"
    :class="{
      'btn-info': info !== undefined,
      'btn-danger': danger !== undefined,
      'btn-success': success !== undefined,
    }"
  >
    <!-- @click="$emit('click', $event)" -->
    <slot></slot>
    
  </button>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: ["info", "danger", "success"],
  mounted(){
    this ;
  }
});
</script>

<style scoped>
</style>