<template>
  <div>
    <!-- <pre>{{ $refs }}</pre> -->

    <div class="list-group">
      <a
        v-for="(playlist, index) in playlists"
        :key="playlist.id"
        href="#"
        class="list-group-item list-group-item-action"
        :class="{ active: playlist.id == selectedId }"
        @keydown.alt.shift.ctrl.meta.a="select(playlist.id)"
        @keydown.space="select(playlist.id)"
        @keydown.delete="remove(playlist.id)"
        @keydown.up="select(playlists[index - 1].id)"
        @keydown.down="select(playlists[index + 1].id)"
        ref="item"
        @click="select(playlist.id)"
      >
        <!-- @click.self="select(playlist.id)" -->
        <!-- @click.capture="select(playlist.id)" -->
        <span> {{ index + 1 }}. {{ playlist.name }} </span>

        <!-- <span class="close float-end" @click="$event.stopPropagation(); remove(playlist.id)" -->
        <span class="close float-end" @click.stop="remove(playlist.id)"
          >&times;</span
        >
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import Playlist from "@/model/Playlist";
import Vue from "vue";

export default Vue.extend({
  props: ["playlists", "selectedId"],
  // data() {
  //   return {
  //     selectedId: "",
  //     // playlists: [],
  //   };
  // },
  updated() {
    if (this.$refs.item instanceof Array) {
      const index = this.playlists.findIndex(
        (p: Playlist) => p.id === this.selectedId
      );
      if (index !== -1) {
        const item = this.$refs.item[index];
        if (item instanceof HTMLElement) {
          item.focus();
        }
      }
    }
  },
  methods: {
    select(id: string) {
      // Cannot assign to 'selectedId' because it is a read-only property.
      // this.selectedId = id;
      this.$emit("select", id);
    },
    remove(id: string) {
      this.$emit("remove", id);
    },
  },
});
</script>

<style scoped>
</style>