<template>
  <div id="app">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <router-link class="navbar-brand" to="/">MusicApp</router-link>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          aria-expanded="false"
          aria-label="Toggle navigation"
          @click="toggleNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          :class="{ show: navbarOpen }"
          id="collapsibleNavId"
        >
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <router-link class="nav-link" to="/search" active-class="active"
                >Search</router-link
              >
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/playlists"
                >Playlists</router-link
              >
            </li>
          </ul>
          <div class="navbar-text ms-auto" v-if="$root.user">{{ $root.user.display_name }}</div>
          <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row mt-3">
        <div class="col">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "~bootstrap/dist/css/bootstrap.css";
</style>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  created() {
    this.$root.getUser();
  },
  data: () => ({
    navbarOpen: false,
  }),
  methods: {
    toggleNav() {
      this.navbarOpen = !this.navbarOpen;
    },
  },
});
</script>
